.header {
    background-color: rgb(204, 171, 171);
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: center;
}

.menu {
    font-family: Montserrat Alternates;
    color: brown;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: rgb(241, 208, 208);
    font-family: Montserrat Alternates;
}

.box {
    margin: 20px;
    display: flex;
    padding-right: 10px;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.item {
    height: fit-content;
    width: 500px;
    padding-right: 20px;
    padding-top: 10px;
}

.image {
    margin-top: 20px;
    border: 2px solid rgb(204, 171, 171);
}

.color {
    color: brown;
}

.big {
    font-size: 37px;
}

.line {
    text-decoration: underline;
}

ul {
    list-style-position: inside;
}

button {
    height: 37px;
    width: fit-content;
    background-color: rgb(204, 171, 171);
    border: none;
    font-size: 20px;
    font-family: Montserrat Alternates;
    color: brown;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(204, 171, 171);
}

.enter {
    height: 37px;
    width: 250px;
    font-size: 20px;
    text-align: left;
    font-family: Montserrat Alternates;
    border: 1px solid rgb(204, 171, 171);
    padding-left: 10px;
}
