<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div>
        <a class="menu" href="/">Home</a>
        <a class="menu" href="/portfolio">Portfolio</a>
        <a class="menu" href="/contact">Contact</a>
    </div>

    <div>
        <img src="/static/img/Fakebook.jpg" alt="Mini-me" class="image">
        <h1 class="color big">My Web Page - Tadeja S</h1>
        <h2 class="color">Welcome!</h2>
        <p><b>Have a look. Leave a like.</b></p>
        
        <h3 class="color line"><u>Who am I?</u></h3>
        <p><i>Just a simple hobbit enjoying life.</i></p>
        
        <h3 class="color line"><u>Likes?</u></h3>
        <ul>
            <li><i>Friends.</i></li>
            <li><i>Food.</i></li>
            <li><i>Travel.</i></li>
        </ul>
        
        <h3 class="color line"><u>Current obsessions?</u></h3>
        <p><i>The Bad Batch, LEGO, board games, coding.</i></p>
        
        <button type="button">Follow for more!</button>  
    </div>
</body>

</html>