{% extends "base.html" %}

{% block content %}

    <div class="content"> 
        <h1 class="color big">Portfolio</h1>
    </div>

    <div class="content">
        
        <div class="item">
            <a class="color line" href="https://github.com/Tadeja-S/HW3.1-TS-Boogle">Boogle</a>
            <br>
            <img src="/static/img/Boogle.jpg" alt="Boogle" class="portfolio">
        </div>
            
        <div class="item">
            <a class="color line" href="https://github.com/Tadeja-S/HW3.2-TS-Boogle-login">Boogle login page</a>
            <br>
            <img src="/static/img/Boogle_login.jpg" alt="Boogle_login" class="portfolio">
        </div>

    </div>

{% endblock content %}