<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div>
        <a class="menu" href="/">Home</a>
        <a class="menu" href="/portfolio">Portfolio</a>
        <a class="menu" href="/contact">Contact</a>
    </div>

    <div>
    <h1 class="color big">Portfolio</h1>
    
        <div class="box">
            <div class="item">
            <a class="color line" href="https://github.com/Tadeja-S/HW3.1-TS-Boogle">Boogle</a>
            <br>
            <img src="/static/img/Boogle.jpg" alt="Boogle" class="portfolio">
            </div>
        
            <div class="item">
            <a class="color line" href="https://github.com/Tadeja-S/HW3.2-TS-Boogle-login">Boogle login page</a>
            <br>
            <img src="/static/img/Boogle_login.jpg" alt="Boogle_login" class="portfolio">
            </div>
        </div>
    </div>
</body>

</html>